ul {
     margin-left: auto; 
     margin: auto;
     width: 26%; 
     text-align:left;  }
table {
	border: 1px solid white;
	border-color: white;
	column-width: 20%
	border: 1px;
	width: 30%;
	text-align: center;
	
}

body{
	background-color: #C0C0C0;
	text-align: center;

}
